.avi-circle {
  border-radius: 50%;
  max-height: 90vh;
  padding: 10px;
}

#self-portrait-main {
  object-fit: cover;
  width: 400px;
  height: 400px;
}

.bio-container {
  /* height: 100vh; */
}
.bio-content {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  
  /* max-height: 1600px; */
  min-height: 90vh;
  
}
.bio-header {
  min-height: 10vh;
}
.avi-container {
  /* padding: 20px; */
} 

a {
  font-family: "Bookman Old Style";
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Bookman Old Style";
  font-weight: 400;
  padding: 20px 0;
  margin: 0px;
}

/* .bio-header > h3 {
  margin: 0px;
} */

p {
  font-size: 1em;
  font-family: "Bookman Old Style";
}

@media screen and (max-width: 768px) {
  .bio-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 20px;
    /* justify-content: space-evenly; */
    
    
    /* max-height: 1600px; */
    /* height: 90vh; */
    
  }
}

@media screen and (max-width: 768px) {
  .avi-container {
    /* flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 20px; */
    /* justify-content: space-evenly; */
    width: 90%;
    
    /* max-height: 1600px; */
    /* height: 90vh; */
    
  }
}